.news-image{
    position: relative;
    img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        
    }

    .news-date{
        position: absolute;
        top: 30px;
        right: 0;
        color: white;
        background-color: #00c3b7;
        padding: 7px 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        opacity: 0;
        transform: translateX(100px) scale(0.8);
        overflow: hidden;
        transition: 0.3s;      
    }

    &:hover{
        .news-date{
            transform: translateX(0px) scale(1);
            opacity: 1;
        }
       
        // img{
        //     transform: scale(1.3);
        //     transition: all .2s;
        // }
    }
}

.news-title{
    line-height: 20px;
    font-size: 16px;
    transition: color .2s;
    margin-bottom: 10px;
    color: white;
    p{
        height: 35px;
    }

    &:hover{
        text-decoration: none;
        cursor: pointer;
        color: #fb4226;
    }
}

.news-content{
    text-align: justify;
    font-size: 15px;
    color: #4a4a4a;
}

.blockIcon{
    color: white;
    font-size: 18px;
}

.news-item{
    display: flex;
    margin-bottom: 18px;
    a{
        img{
            width: 64px;
            border-radius: 5px;
        }
    }

    .news-item_title{
        margin-left: 15px;
        color: white;
        font-size: 13px;
        line-height: 23px;
        margin-bottom: 0;
    }
}