<div class="row">
    <div class="col-md-6">
      <div class="news-image">
        <img src="../../../assets/images/news1.jpg" alt="">
        <span class="news-date">20.06.2019</span>
      </div>
      <a class="news-title" href="#">
        <p class="mt-3">Ký Sinh Trùng - Đỉnh cao của điện ảnh Hàn Quốc </p>
      </a>
      <p class="news-content">Với lối kể chuyện thông minh và kịch bản đầy nút thắt, Ký Sinh Trùng xứng đáng là đỉnh cao
        của điện ảnh Hàn Quốc
        trong nhiều năm trở lại đây với giải Cành Cọ Vàng danh giá tại Cannes 2019.</p>
      <div class="blockIcon">
        <i class="fa fa-thumbs-up"></i><span class="ml-2">0</span>
        <i class="fa fa-comment ml-4"></i><span class="ml-2">0</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="news-image">
        <img src="../../../assets/images/news1.jpg" alt="">
        <span class="news-date">20.06.2019</span>
      </div>
      <a class="news-title" href="#">
        <p class="mt-3">Annabelle: Ác Quỷ Trở Về - 'Chị Beo' đã trở lại và lợi hại hơn gấp trăm lần</p>
      </a>
      <p class="news-content">Với lối kể chuyện thông minh và kịch bản đầy nút thắt, Ký Sinh Trùng xứng đáng là đỉnh cao
        của điện ảnh Hàn Quốc
        trong nhiều năm trở lại đây với giải Cành Cọ Vàng danh giá tại Cannes 2019.</p>
      <div class="blockIcon">
        <i class="fa fa-thumbs-up"></i><span class="ml-2">0</span>
        <i class="fa fa-comment ml-4"></i><span class="ml-2">0</span>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="news-image">
        <img src="../../../assets/images/news2.jpg" alt="">
      </div>
      <a class="news-title" href="#">
        <p class="mt-3">Annabelle: Ác Quỷ Trở Về - 'Chị Beo' đã trở lại và lợi hại hơn gấp trăm lần</p>
      </a>
      <p class="news-content">Với lối kể chuyện thông minh và kịch bản đầy nút thắt, Ký Sinh Trùng xứng đáng là đỉnh cao
        của điện ảnh Hàn Quốc
        trong nhiều năm trở lại đây với giải Cành Cọ Vàng danh giá tại Cannes 2019.</p>
      <div class="blockIcon">
        <i class="fa fa-thumbs-up"></i><span class="ml-2">0</span>
        <i class="fa fa-comment ml-4"></i><span class="ml-2">0</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="news-image">
        <img src="../../../assets/images/news2.jpg" alt="">
      </div>
      <a class="news-title" href="#">
        <p class="mt-3">Toy Story 4 - Cả bầu trời kí ức tuổi thơ bỗng chốc thu bé lại bằng một bộ phim</p>
      </a>
      <p class="news-content">Với lối kể chuyện thông minh và kịch bản đầy nút thắt, Ký Sinh Trùng xứng đáng là đỉnh cao
        của điện ảnh Hàn Quốc
        trong nhiều năm trở lại đây với giải Cành Cọ Vàng danh giá tại Cannes 2019.</p>
      <div class="blockIcon">
        <i class="fa fa-thumbs-up"></i><span class="ml-2">0</span>
        <i class="fa fa-comment ml-4"></i><span class="ml-2">0</span>
      </div>
    </div>
    <div class="col-md-4">
        <div class="news-item">
          <a href=""><img src="../../../assets/images/news3.jpg" alt=""></a>
          <p class="news-item_title">Godzilla: King of the Monsters - Kong có thể là Vua nhưng Godzilla thì là “Chúa”</p>
        </div>
        <div class="news-item">
          <a href=""><img src="../../../assets/images/news3.jpg" alt=""></a>
          <p class="news-item_title">Godzilla: King of the Monsters - Kong có thể là Vua nhưng Godzilla thì là “Chúa”</p>
        </div>
        <div class="news-item">
          <a href=""><img src="../../../assets/images/news3.jpg" alt=""></a>
          <p class="news-item_title">Godzilla: King of the Monsters - Kong có thể là Vua nhưng Godzilla thì là “Chúa”</p>
        </div>
        <div class="news-item">
          <a href=""><img src="../../../assets/images/news3.jpg" alt=""></a>
          <p class="news-item_title">Godzilla: King of the Monsters - Kong có thể là Vua nhưng Godzilla thì là “Chúa”</p>
        </div>
    </div>
  </div>