<div class="row">
    <div class="col-md-12 titleRap">
      <p>CỤM RẠP</p>
    </div>
    <div class="col-md-12 item-rap">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs all-rap">
        <li class="nav-item all-li-">
          <a class="nav-link active" data-toggle="tab" href="#home">
            <img src="../../../assets/images/rapBHD.png" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">
            <img src="../../../assets/images/rapGALA.png" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">
            <img src="../../../assets/images/rapLOTE.png" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu3">
            <img src="../../../assets/images/rapSAO.png" alt="">
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content mt-5">
        <div class="tab-pane container active" id="home">
          <div class="row">
            <div class="col-md-4 tong_rap">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs flex-column chitiet-rap">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#home1">
                    <div class="diadiem-rap">
                      <img src="../../../assets/images/addressRap1.jpg" alt="#">
                      <div class="chitiet">
                        <p>
                          <span>SNS</span> - Hai Bà Trưng
                        </p>
                        <span class="chitiet_diachi">135 Hai Bà Trưng, Bến Ngé, Q.1</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#menu11">
                    <div class="diadiem-rap">
                      <img src="../../../assets/images/addressRap1.jpg" alt="#">
                      <div class="chitiet">
                        <p>
                          <span>SNS</span> - Hai Bà Trưng
                        </p>
                        <span class="chitiet_diachi">135 Hai Bà Trưng, Bến Ngé, Q.1</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#menu21">
                    <div class="diadiem-rap">
                      <img src="../../../assets/images/addressRap1.jpg" alt="#">
                      <div class="chitiet">
                        <p>
                          <span>SNS</span> - Hai Bà Trưng
                        </p>
                        <span class="chitiet_diachi">135 Hai Bà Trưng, Bến Ngé, Q.1</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-8 pl-5">
              <!-- Tab panes -->
              <div class="tab-content scroll-up" id="style-1">
                <div class="tab-pane container active" id="home1">
                  <div class="col-md-12 p-0 all-movieInfo">
                    <div class="movieInfo">
                      <img src="../../../assets/images/aladdin.jpg" alt="">
                      <div class="wrapInfo">
                          <p>           
                            <span class="movieTitle">Aladdin</span>
                          </p>
                          <p class="movie-detail_time">135 phút - 123Phim 9.2 - IMDb 7.4</p>
                        </div>
                    </div>
                    <div class="movieInfo-time">
                      <button class="btn btn-success movie2D">2D</button>
                      <a>19:10</a>
                      <a>21:40</a>
                      <a>22:10</a>
                    </div>
                  </div>
                  <div class="col-md-12 p-0 all-movieInfo">
                    <div class="movieInfo">
                      <img src="../../../assets/images/aladdin.jpg" alt="">
                      <div class="wrapInfo">
                          <p>           
                            <span class="movieTitle">Aladdin</span>
                          </p>
                          <p class="movie-detail_time">135 phút - 123Phim 9.2 - IMDb 7.4</p>
                        </div>
                    </div>
                    <div class="movieInfo-time">
                      <button class="btn btn-success movie2D">2D</button>
                      <a>19:10</a>
                      <a>21:40</a>
                      <a>22:10</a>
                    </div>
                  </div>
                  <div class="col-md-12 p-0 all-movieInfo">
                    <div class="movieInfo">
                      <img src="../../../assets/images/aladdin.jpg" alt="">
                      <div class="wrapInfo">
                          <p>           
                            <span class="movieTitle">Aladdin</span>
                          </p>
                          <p class="movie-detail_time">135 phút - 123Phim 9.2 - IMDb 7.4</p>
                        </div>
                    </div>
                    <div class="movieInfo-time">
                      <button class="btn btn-success movie2D">2D</button>
                      <a>19:10</a>
                      <a>21:40</a>
                      <a>22:10</a>
                    </div>
                  </div>
                  <div class="col-md-12 p-0 all-movieInfo">
                    <div class="movieInfo">
                      <img src="../../../assets/images/aladdin.jpg" alt="">
                      <div class="wrapInfo">
                          <p>           
                            <span class="movieTitle">Aladdin</span>
                          </p>
                          <p class="movie-detail_time">135 phút - 123Phim 9.2 - IMDb 7.4</p>
                        </div>
                    </div>
                    <div class="movieInfo-time">
                      <button class="btn btn-success movie2D">2D</button>
                      <a>19:10</a>
                      <a>21:40</a>
                      <a>22:10</a>
                    </div>
                  </div>
                  <div class="col-md-12 p-0 all-movieInfo">
                    <div class="movieInfo">
                      <img src="../../../assets/images/aladdin.jpg" alt="">
                      <div class="wrapInfo">
                          <p>           
                            <span class="movieTitle">Aladdin</span>
                          </p>
                          <p class="movie-detail_time">135 phút - 123Phim 9.2 - IMDb 7.4</p>
                        </div>
                    </div>
                    <div class="movieInfo-time">
                      <button class="btn btn-success movie2D">2D</button>
                      <a>19:10</a>
                      <a>21:40</a>
                      <a>22:10</a>
                    </div>
                  </div>
                  <div class="col-md-12 p-0 all-movieInfo">
                    <div class="movieInfo">
                      <img src="../../../assets/images/aladdin.jpg" alt="">
                      <div class="wrapInfo">
                          <p>           
                            <span class="movieTitle">Aladdin</span>
                          </p>
                          <p class="movie-detail_time">135 phút - 123Phim 9.2 - IMDb 7.4</p>
                        </div>
                    </div>
                    <div class="movieInfo-time">
                      <button class="btn btn-success movie2D">2D</button>
                      <a>19:10</a>
                      <a>21:40</a>
                      <a>22:10</a>
                    </div>
                  </div>
                </div>
                <div class="tab-pane container fade" id="menu11">
                  <div class="col-md-12 p-0 all-movieInfo">
                    <div class="movieInfo">
                      <img src="../../../assets/images/aladdin.jpg" alt="">
                      <div class="wrapInfo">
                          <p>           
                            <span class="movieTitle">Aladdin</span>
                          </p>
                          <p class="movie-detail_time">135 phút - 123Phim 9.2 - IMDb 7.4</p>
                        </div>
                    </div>
                    <div class="movieInfo-time">
                      <button class="btn btn-success movie2D">2D</button>
                      <a>19:10</a>
                      <a>21:40</a>
                      <a>22:10</a>
                    </div>
                  </div>
                </div>
                <div class="tab-pane container fade" id="menu21">...</div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane container fade" id="menu1">...</div>
        <div class="tab-pane container fade" id="menu2">...</div>
        <div class="tab-pane container fade" id="menu3">...</div>
      </div>
    </div>
  </div>