<div class="movie-item">
    <div class="movie-item_img">
        <a href=""><img src="../../../assets/images/movie1.jpg" alt=""></a>
        <div class="movie-item_video">
            <img class="play-video" src="../../../assets/images/play-video.png" alt="">
            <span class="movie_date">20.06.19</span>
            <div class="movie_ratting">
                <a href=""><span class="fa fa-star"></span>2/5</a>
            </div>
        </div>
    </div>
    <div class="movie_content">
        <div class="movie_name">Annabelle: Ác quỷ trở về (C18)</div>
        <div class="movie_info">106 phút - 6.5 IMDb</div>
        <button class="btn muave">MUA VÉ</button>
    </div>
</div>