<div class="row footerbottom">
    <div class="col-md-10 d-flex">
        <div class="footerbottom_logo">
            <img src="../../../assets/images/favicon.png" alt="">
        </div>
        <div class="footerbottom-content">
            <p>MOVIESTAR – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION – MỘT THÀNH VIÊN CỦA CÔNG TY CỔ PHẦN VNG </p>
            <p>Địa chỉ: 52 Nguyễn Ngọc Lộc, Phường 14, Quận 10, Thành phố Hồ Chí Minh</p>
            <p>Mã số thuế: 01012584899</p>
        </div>
    </div>
    <div class="col-md-2 logoCongThuong">
        <img src="../../../assets/images/logoCongThuong.png" alt="">
    </div>
</div>